In [27]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like

In [28]:
from pandas_datareader import data, web
import matplotlib.pyplot as plt
import pandas as pd

ImportError: cannot import name 'web'

In [29]:
start = datetime.datetime(2012, 7, 31)
end = datetime.datetime(2017, 6, 30)
start_date = '2010-01-01'
end_date = '2016-12-31'
panel_data = web.DataReader('INPX', 'yahoo', start_date, end_date)

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [11]:
aapl.head()
#aapl.describe()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-06-30,144.45,144.96,143.7800,144.02,22328979.0,0.0,1.0,143.866270,144.374209,143.198978,143.438008,22328979.0
2017-06-29,144.71,145.13,142.2800,143.68,31116980.0,0.0,1.0,144.125219,144.543522,141.705039,143.099382,31116980.0
2017-06-28,144.49,146.11,143.1601,145.83,21915939.0,0.0,1.0,143.906108,145.519562,142.581583,145.240693,21915939.0
2017-06-27,145.01,146.16,143.6200,143.74,24423643.0,0.0,1.0,144.424007,145.569360,143.039624,143.159139,24423643.0
2017-06-26,147.17,148.28,145.3800,145.82,25524661.0,0.0,1.0,146.575278,147.680793,144.792512,145.230734,25524661.0